/* Coolors Exported Palette - https://coolors.co/fef2f2-ff0214-35a7ff-feda44-3ba86f-d0af86-282828-006994 */

/* CSS HEX */
--lavender-blush: #fef2f2ff;
--red: #ff0214ff;
--blue-jeans: #35a7ffff;
--mustard: #feda44ff;
--jade: #3ba86fff;
--tan: #d0af86ff;
--eerie-black: #282828ff;
--sapphire-blue: #006994ff;

/* CSS HSL */
--lavender-blush: hsla(0, 86%, 97%, 1);
--red: hsla(356, 100%, 50%, 1);
--blue-jeans: hsla(206, 100%, 60%, 1);
--mustard: hsla(48, 99%, 63%, 1);
--jade: hsla(149, 48%, 45%, 1);
--tan: hsla(33, 44%, 67%, 1);
--eerie-black: hsla(0, 0%, 16%, 1);
--sapphire-blue: hsla(197, 100%, 29%, 1);

/* SCSS HEX */
$lavender-blush: #fef2f2ff;
$red: #ff0214ff;
$blue-jeans: #35a7ffff;
$mustard: #feda44ff;
$jade: #3ba86fff;
$tan: #d0af86ff;
$eerie-black: #282828ff;
$sapphire-blue: #006994ff;

/* SCSS HSL */
$lavender-blush: hsla(0, 86%, 97%, 1);
$red: hsla(356, 100%, 50%, 1);
$blue-jeans: hsla(206, 100%, 60%, 1);
$mustard: hsla(48, 99%, 63%, 1);
$jade: hsla(149, 48%, 45%, 1);
$tan: hsla(33, 44%, 67%, 1);
$eerie-black: hsla(0, 0%, 16%, 1);
$sapphire-blue: hsla(197, 100%, 29%, 1);

/* SCSS RGB */
$lavender-blush: rgba(254, 242, 242, 1);
$red: rgba(255, 2, 20, 1);
$blue-jeans: rgba(53, 167, 255, 1);
$mustard: rgba(254, 218, 68, 1);
$jade: rgba(59, 168, 111, 1);
$tan: rgba(208, 175, 134, 1);
$eerie-black: rgba(40, 40, 40, 1);
$sapphire-blue: rgba(0, 105, 148, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-right: linear-gradient(90deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-bottom: linear-gradient(180deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-left: linear-gradient(270deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-top-right: linear-gradient(45deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-bottom-right: linear-gradient(135deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-top-left: linear-gradient(225deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-bottom-left: linear-gradient(315deg, #fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);
$gradient-radial: radial-gradient(#fef2f2ff, #ff0214ff, #35a7ffff, #feda44ff, #3ba86fff, #d0af86ff, #282828ff, #006994ff);